@use '../assets';

#app-mount .layer_d4b6c5[aria-label='CHANNEL_SETTINGS'] {
	.customContainer_c25c6d {
		position: relative;
		div[style='height: 60px;'] {
			display: none;
		}
	}
	.customScroller_c25c6d > div {
		padding: var(--spacing);
		margin: 0;
		max-width: 100%;
	}
	.image__08515 {
		width: 156px !important;
		height: 156px !important;
		margin-bottom: var(--spacing-double);
		background: var(--text-muted) !important;
		mask: url(assets.$illustration_7) center/contain no-repeat;
	}
}
