#app-mount {
	.base_a4d4d9 .notice-2FJMB4 {
		width: calc(100% - var(--sidebar-width));
		margin-left: var(--sidebar-width);
		height: 36px;
		& + .content_a4d4d9 {
			.privateChannels_f0963d {
				.searchBar_f0963d,
				.scroller_c47fa9 {
					margin-top: -36px;
				}
			}
			.header-2o-2hj,
			.scroller-2wx7Hm {
				margin-top: -36px;
			}
		}
	}
}
