.horizontal-1ae9ci > .flex-1xMQg5,
.horizontal-1ae9ci > .flexChild_bba380 {
	margin: 0 var(--spacing);
}
.marginTop4_f7730b {
	margin-top: var(--spacing-half);
}
.marginBottom4_f7730b {
	margin-bottom: var(--spacing-half);
}
.marginTop8_f7730b {
	margin-top: var(--spacing);
}
.marginLeft4-3VaXdt {
	margin-left: var(--spacing-half);
}
.marginLeft8-1YseBe {
	margin-left: var(--spacing);
}
.marginBottom8_f7730b {
	margin-bottom: var(--spacing);
}
.marginTop20_f7730b {
	margin-top: var(--spacing-double);
}
.marginBottom20_f7730b {
	margin-bottom: var(--spacing-double);
}
.marginTop40_f7730b {
	margin-top: calc(var(--spacing) * 4);
}
.marginBottom40_f7730b {
	margin-bottom: calc(var(--spacing) * 4);
}
.marginTop60_f7730b {
	margin-top: calc(var(--spacing) * 6);
}
.marginBottom60_f7730b {
	margin-bottom: calc(var(--spacing) * 6);
}
