#app-mount {
	.folder_bc7085 {
		background: transparent;
		cursor: var(--cursor);
		&.hover-qTxTR_ {
			background: transparent;
		}
	}
	.expandedFolderBackground_bc7085 {
		background: var(--background-light);
		border-radius: var(--border-radius);
		&.collapsed_bc7085 {
			background: transparent;
		}
	}
}
