#app-mount {
	.container_cbd271 {
		background: var(--background);
	}
	.membersWrap_cbd271 {
		width: var(--sidebar-width);
		border-left: 1px solid var(--base-border);
		background: var(--background);
		min-width: unset;
	}
	.members_cbd271 {
		background: transparent;
		width: 100%;
		& > div {
			background: transparent;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
