#app-mount .members_cbd271 .membersGroup_cbd271 {
	padding: var(--spacing);
	height: auto;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semibold);
	color: var(--text-normal);
	text-transform: none;
}
