@use '../assets';

#app-mount .member_a31c43 {
	padding: 0;
	margin: 0;
	max-width: 100%;
	background: transparent;
	&.offline_a31c43 {
		opacity: 0.5;
	}

	// Generic member entries
	.layout_e9f61e {
		border-radius: 0;
		height: var(--member-height);
		padding: 0 calc(var(--spacing) + 5px);
		cursor: var(--cursor);
	}
	.avatar_e9f61e {
		margin-right: var(--spacing-double);
		width: var(--avatar-size-sm) !important;
		height: var(--avatar-size-sm) !important;
	}
	.name_e9f61e {
		font-size: var(--font-size);
		font-weight: var(--font-weight-normal);
		color: var(--text-normal);
		line-height: normal;
	}
	.wrapper-1VLyxH {
		width: var(--avatar-size-sm) !important;
		height: var(--avatar-size-sm) !important;
	}
	.content_e9f61e {
		overflow: visible;
	}
	.activity_a31c43 {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);
		color: var(--text-muted);
		.icon_ad923e {
			margin-left: calc(var(--spacing) / 4);
		}
	}

	// Bot Tag
	.botTag_a31c43:not(.tag-wWVHyf) {
		font-size: 0;
		padding: 0;
		height: auto;
		width: auto;
		background-color: var(--background-modifier-active);
		border-radius: var(--border-radius);
		order: -1;
		margin-left: 0;
		margin-top: 0;
		margin-right: var(--spacing-half);
		span,
		svg {
			display: none;
		}
		&::before {
			content: '';
			width: 16px;
			height: 16px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			mask: url(assets.$icon_cog) center/12px no-repeat;
			background: var(--text-normal);
		}
	}
	&.selected_e9f61e {
		.activity_a31c43,
		.roleColor-nA7BqX {
			color: #fff !important;
		}
	}

	// Placeholders
	&.placeholder__65cd3 {
		padding: 0 var(--spacing);
		animation: none;
		.placeholderAvatar_dac468 {
			border-radius: var(--border-radius);
			border: 1px solid var(--base-border);
			width: var(--avatar-size-sm);
			height: var(--avatar-size-sm);
			background: var(--background-dark);
		}
	}
	&.offline_a31c43 .wrapper-1VLyxH foreignObject::after {
		content: none;
	}
}
.mulitplePlaceholderUsername_dac468,
.placeholderUsername_a43b87,
.memberGroupsPlaceholder_cbd271 {
	background: var(--text-muted);
	opacity: 0.2;
	height: 4px;
	animation: none;
	border-radius: var(--border-radius);
}
