html.platform-win[lang='en-US'],
html.platform-win[lang='en-GB'] {
	body:not(.oldTitleBarEnabled-D8ppJQ)
		.container_c2739c
		.container_fc4f04.themed_fc4f04
		.toolbar_fc4f04 {
		border: none !important;
	}
	body:not(.oldTitleBarEnabled-D8ppJQ) .container_fc4f04.themed_fc4f04 .toolbar_fc4f04 {
		.iconWrapper_fc4f04[aria-label='Inbox'],
		.iconWrapper_fc4f04[aria-label='Pinned Messages'],
		.iconWrapper_fc4f04[aria-label='Add Friends to DM'],
		.iconWrapper_fc4f04[aria-label='New Group DM'],
		.anchor-1MIwyf .iconWrapper_fc4f04 {
			position: fixed;
			top: 0;
			-webkit-app-region: no-drag;
			height: calc(var(--titlebar-height) - 1px);
			width: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 var(--spacing);
			margin: 0 !important;
			color: var(--toolbar-text-normal);
			font-weight: var(--font-weight-normal);
			font-size: var(--font-size);
			cursor: default;
			overflow: hidden;
			text-overflow: ellipsis;
			&::after {
				color: inherit;
				font-weight: inherit;
				font-size: inherit;
				white-space: nowrap;
				line-height: normal;
			}
			&[aria-label='Inbox'] {
				left: 38px;
				width: 50px;
				&::after {
					content: 'Inbox';
				}
			}
			&[aria-label='Pinned Messages'] {
				left: 88px;
				width: 42px;
				&::after {
					content: 'Pins';
				}
				.iconBadge_fc4f04 {
					top: 4px;
					right: 4px;
					z-index: -1;
					width: 4px;
					height: 4px;
				}
			}
			&[aria-label='Add Friends to DM'],
			&[aria-label='New Group DM'] {
				left: 130px;
				width: 54px;
				&::after {
					content: 'Group';
				}
			}
			&[aria-label='New Group DM'] {
				left: 88px;
			}
			&:hover {
				background: var(--toolbar-background-hover);
			}
			&:active,
			&.selected_fc4f04 {
				background: var(--toolbar-background-active);
			}
			svg {
				display: none;
			}
		}
		.inviteToolbar_c2739c {
			display: block !important;
		}
		.inviteToolbar_c2739c ~ .anchor-1MIwyf .iconWrapper_fc4f04 {
			left: 142px;
		}
		.libraryFilter_e0264e ~ .anchor-1MIwyf .iconWrapper_fc4f04 {
			left: 88px;
		}
		.iconWrapper_fc4f04[aria-label='Add Friends to DM'] ~ .anchor-1MIwyf .iconWrapper_fc4f04 {
			left: 184px;
		}
		.anchor-1MIwyf {
			display: block !important;
			&:nth-child(8) .iconWrapper_fc4f04 {
				left: 184px;
			}
			&:nth-child(6) .iconWrapper_fc4f04 {
				left: 130px;
			}
			.iconWrapper_fc4f04 {
				width: auto;
				left: 130px;
				&::after {
					content: 'Help';
				}
			}
		}
	}
}

// Unfocused App
html.platform-win[lang='en-US'],
html.platform-win[lang='en-GB'] {
	&:not(.app-focused)
		body:not(.oldTitleBarEnabled-D8ppJQ)
		.container_fc4f04.themed_fc4f04
		.toolbar_fc4f04 {
		.iconWrapper_fc4f04[aria-label='Inbox'],
		.iconWrapper_fc4f04[aria-label='Pinned Messages'],
		.iconWrapper_fc4f04[aria-label='Add Friends to DM'],
		.iconWrapper_fc4f04[aria-label='New Group DM'],
		.anchor-1MIwyf .iconWrapper_fc4f04 {
			opacity: 0.6;
		}
	}
}
