#app-mount .modal-1sor29 {
	min-height: auto;
	color: var(--text-normal);
	box-shadow: var(--elevation-2);
	.header__352e1 {
		padding: var(--spacing-double);
		border-bottom: 1px solid var(--base-border);
		button {
			padding: 0;
		}
	}
	.inner-ZyuQk0 {
		padding: var(--spacing-double);
		.content_bf3bbb {
			padding-bottom: 0;
		}
	}
}
