#app-mount .root_f9a4c9 {
	.inner-ZyuQk0 {
		padding: var(--spacing);
	}
	.spacing_ddcc45 {
		margin-bottom: var(--spacing);
	}
	.message_ddcc45 {
		box-shadow: none;
		background: var(--background-dark);
		border: 1px solid var(--base-border);
		padding: var(--spacing);
		box-sizing: border-box;
		.cozy_f9f2ca {
			padding-bottom: 0;
			margin-top: 0;
		}
		.avatar_f9f2ca {
			top: 0;
		}
	}
	.spacingTop_ddcc45.block_dcc874 {
		display: none;
	}
}
