@use '../assets';

#app-mount .keyboardShortcutsModal_ad95dc {
	background: var(--background);
	box-shadow: var(--elevation-2);
	border: 1px solid var(--base-border);
	border-radius: var(--border-radius);
	opacity: 1 !important;
	max-width: 550px;
	min-width: 550px;
	width: 550px;
	max-height: 575px;
	animation: modal 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	.modalTitle_ad95dc {
		padding: var(--spacing-double);
		max-height: 50px;
		margin: 0;
		box-sizing: border-box;
		font-size: var(--font-size-md);
		color: var(--text-normal);
		font-weight: var(--font-weight-semibold);
		border-bottom: 1px solid var(--base-border);
		.content_ad95dc {
			margin-right: var(--spacing);
		}
		.keybindShortcut-3zF1P9 {
			margin: 0;
		}
	}
	.keybindShortcut-3zF1P9 {
		font-size: var(--font-size-sm);
		height: fit-content;
		color: var(--text-normal);
		font-weight: var(--font-weight-normal);
		margin-bottom: var(--spacing-half);
		margin-right: 0;
		text-transform: capitalize;
		span {
			line-height: var(--line-height);
			border-radius: var(--border-radius);
			padding: var(--spacing-third) var(--spacing-half);
			color: var(--text-normal);
			background: var(--background-modifier-active);
			box-shadow: none;
			border: none;
			margin-right: var(--spacing-half);
			user-select: none;
			height: 23px;
			transform: none;
		}
	}
	.ddrArrows_ad95dc {
		top: 0;
		right: 0;
		height: 50px;
		padding: 0 var(--spacing-double);
		box-sizing: border-box;
		display: flex;
		align-items: center;
		.arrow_ad95dc {
			margin: 0;
			height: 26px;
			width: 26px;
			margin-left: var(--spacing);
			background: var(--text-muted);
			opacity: 0.75;
			mask: url(assets.$icon_arrow_down) center/cover no-repeat;
			&.left_ad95dc {
				transform: rotate(90deg);
			}
			&.up_ad95dc {
				transform: rotate(180deg);
			}
			&.right_ad95dc {
				transform: rotate(-90deg);
			}
			&.active_ad95dc {
				background: var(--text-normal);
				opacity: 1;
			}
		}
	}
	.modalSubtitle_ad95dc {
		display: none;
	}
	.keyboardShortcutList_ad95dc {
		padding: var(--spacing-double);
		grid-gap: var(--spacing);
		height: auto;
		column-count: 2;
		column-gap: var(--spacing);
		display: block;
		overflow: visible;
		.keybindGroup_ad95dc {
			padding: var(--spacing);
			border-radius: var(--border-radius);
			border: 1px solid var(--base-border);
			height: fit-content;
			width: auto;
			background: var(--background-alt);
			transition: 150ms ease;
			min-height: auto;
			box-sizing: border-box;
			position: relative;
			margin-bottom: var(--spacing);
			break-inside: avoid;
			break-after: always;
			.keybindDescription_c0b6a8 {
				margin-bottom: var(--spacing-third);
				color: var(--text-normal);
				font-size: var(--font-size);
				text-transform: none;
				font-weight: var(--font-weight-normal);
				width: unset;
			}
		}
	}
}
