@use '../assets';

#app-mount {
	.container_f2bfbb {
		background: var(--background);
		flex-wrap: wrap;
		&::before {
			content: 'Reactions';
			height: 50px;
			display: flex;
			align-items: center;
			padding: var(--spacing-double);
			font-size: var(--font-size-md);
			font-weight: var(--font-weight-semibold);
			color: var(--text-normal);
			width: 100%;
			box-sizing: border-box;
			border-bottom: 1px solid var(--base-border);
		}
		.reactors_f2bfbb {
			background: var(--background);
			border-left: 1px solid var(--base-border);
			height: calc(100% - 50px);
			flex: 1;
			.content-2a4AW9 {
				height: auto !important;
			}
			.reactor_f2bfbb {
				box-shadow: none;
				margin: 0;
				padding: 0 var(--spacing);
				height: var(--item-height);
				&:hover {
					background: var(--background-modifier-hover);
				}
				&:active {
					background: var(--background-modifier-active);
				}
				.remove_f2bfbb {
					cursor: var(--cursor);
					padding: 0;
					background: transparent;
					color: var(--text-muted);
					opacity: 1;
					width: 12px;
					height: 12px;
					&:hover {
						color: var(--text-normal);
					}
					path {
						d: path(assets.$path_close);
						transform: scale(2) translateY(-2px);
					}
				}
				.nickname_f2bfbb {
					line-height: normal;
					color: var(--text-normal);
					font-weight: var(--font-weight-semibold);
				}
				.nameTag_cd0810 {
					line-height: normal;
					.username_f2bfbb {
						font-weight: var(--font-weight-semibold);
						color: var(--text-normal);
					}
					.discriminator_f2bfbb {
						font-size: var(--font-size);
						color: var(--text-muted);
						font-weight: var(--font-weight-normal);
					}
					&.tagFaded_f2bfbb {
						opacity: 1;
						padding-left: var(--spacing-half);
						.username_f2bfbb {
							color: var(--text-muted);
							font-weight: var(--font-weight-normal);
						}
					}
				}
			}
		}
		.scroller_f2bfbb {
			background: var(--background);
			padding: 0;
			width: auto;
			height: calc(100% - 50px);
			.reactionDefault_f2bfbb,
			.reactionSelected_f2bfbb {
				border-radius: var(--border-radius);
				padding: var(--spacing-half) var(--spacing);
				cursor: var(--cursor);
				margin: var(--spacing);
				color: var(--text-normal);
			}
			.colorStandard-21JIj7 {
				color: inherit;
			}
			.reactionSelected_f2bfbb {
				background: var(--accent-solid);
				color: var(--white);
			}
			.reactionDefault_f2bfbb:hover {
				background: transparent;
			}
			.emoji_f2bfbb {
				padding: 0;
				margin-right: var(--spacing);
			}
		}
	}
}
