#app-mount .sidebar_a4d4d9 {
	.containerDefault_a08117,
	.containerDragAfter-3TEhpe,
	.containerDragBefore-3Dzc5x,
	.containerUserOver-1Tcb7l {
		padding: var(--spacing-half) 0;
		.wrapper_a08117 {
			color: var(--text-normal);
			height: 26px;
			padding-right: var(--spacing);
			padding-left: 20px;
			cursor: var(--cursor);
			svg,
			.name_a08117,
			.container-36u7Lw {
				color: var(--text-normal);
				font-size: var(--font-size-sm);
				font-weight: var(--font-weight-semibold);
				line-height: normal;
			}
			.arrow_d64d50 {
				left: 4px;
				top: 7px;
			}
			.name_a08117,
			.container-36u7Lw {
				text-transform: none;
			}
			&.muted-1NRuDm {
				color: var(--text-muted);
				svg,
				.name_a08117 {
					color: var(--text-muted);
				}
			}
			.addButton-1BORro {
				height: 14px;
				width: 14px;
				svg {
					height: 14px;
					width: 14px;
				}
			}
		}
	}
}
