@use '../assets';

#app-mount .privateChannels_f0963d {
	overflow: visible;
	width: var(--sidebar-width);
	background: var(--background);

	.content-2a4AW9 {
		margin-top: var(--toolbar-height);
	}

	// Search Header
	.searchBar_f0963d {
		background: var(--toolbar-background);
		border-bottom: 1px solid var(--toolbar-border);
		border-right: 1px solid var(--toolbar-border);
		height: var(--toolbar-height);
		box-shadow: none;
		position: absolute;
		left: calc(var(--container) * -1);
		top: calc(var(--toolbar-height) * -1);
		width: calc(var(--sidebar-width) + var(--noasw-channel-header));
		box-sizing: border-box;
		padding: 0 var(--spacing);
		button {
			box-sizing: border-box;
			background-color: var(--toolbar-search-background);
			border: 1px solid var(--toolbar-border);
			border-radius: var(--border-radius);
			height: var(--input-height);
			transform: translateZ(0);
			font-size: 0;
			box-shadow: none;
			position: relative;
			cursor: text;
			width: 100%;
			font-weight: var(--font-weight-normal);
			color: var(--toolbar-text-muted);
			padding: 0 var(--spacing-half);
			line-height: normal;
			&::before {
				content: 'Where would you like to go?';
				font-size: var(--font-size);
			}
		}
	}

	// Direct messages header
	.privateChannelsHeaderContainer_c47fa9 {
		padding: var(--spacing);
		height: auto;
		color: var(--text-normal);
		font-size: 12px;
		text-transform: none;
	}
	.privateChannelRecipientsInviteButtonIcon_c47fa9 {
		display: none;
	}
	.scroller_c47fa9 {
		background: var(--background);
		div[style*='height: 8px'] {
			display: none;
		}
	}

	// Main channel entries
	.container-32HW5s {
		border-radius: 0;
	}
	.link_c91bad {
		cursor: var(--cursor);
	}
	.channel_c91bad {
		margin: 0;
		max-width: 100%;
		padding: 0;
		.children_e9f61e {
			margin-left: var(--spacing-half);
		}
		.layout_f9647d {
			border-radius: 0;
			padding: 0 var(--spacing);
			cursor: var(--cursor);
		}
		.name_f9647d {
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
			color: var(--text-normal);
			line-height: normal;
		}
		.avatar_f9647d {
			margin-right: var(--spacing);
		}
		.activityText_c91bad,
		.subText_f9647d {
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-bold);
			color: var(--text-muted);
		}
		.selected_f5eb4b {
			color: var(--white);
			background: rgb(var(--accent));
			.closeButton_c91bad {
				display: block;
				background: var(--white);
			}
			.activityText_c91bad,
			.name_f9647d,
			.subText_f9647d {
				color: var(--white) !important;
			}
		}
	}
	.closeButton_c91bad {
		z-index: 10;
		opacity: 1;
		background: var(--text-muted);
		mask: url(assets.$icon_close) center/11px no-repeat;
		cursor: var(--cursor);
		path {
			display: none;
		}
		&:hover {
			background: var(--text-normal);
		}
	}
	.wrapper-1VLyxH {
		width: 26px !important;
		height: 26px !important;
		&::before {
			right: -190px;
		}
		&::after {
			right: -190px;
		}
	}
	&:hover .wrapper-1VLyxH::before {
		background: linear-gradient(90deg, transparent, var(--background-modifier-hover) 50%);
	}
	&:active .wrapper-1VLyxH::before {
		background: linear-gradient(90deg, transparent, var(--background-modifier-active) 50%);
	}

	// Empty DMs List
	.empty_c47fa9 {
		display: none;
	}
}

// Light mode optimization
.theme-light #app-mount .privateChannels_f0963d .channel_c91bad.selected_e9f61e {
	color: #fff;

	.activityText_c91bad,
	.name_f9647d,
	.subText_f9647d {
		color: #fff !important;
	}
}
