#app-mount {
	.uploadArea_f82cc7 {
		background: var(--backdrop);
	}
	.uploadDropModal_f82cc7 {
		height: auto;
		padding: var(--spacing-double) 0;

		.bgScale_f82cc7 {
			background: var(--background);
			border-radius: var(--border-radius);
			box-shadow: var(--elevation-1);
			border: 1px solid var(--base-border);
		}
		.inner_f82cc7 {
			border: none;
			border-radius: 0;
		}
		.icons_f82cc7 {
			display: none;
		}
		.instructions_f82cc7 pre::before {
			content: none;
		}
	}
}
