#app-mount .chatContent_a7d72e .divider_c2654d {
	height: auto;
	margin: 0;
	padding: var(--spacing-half) 0;
	border-top: 1px solid var(--base-border);
	background: var(--background);
	top: 0;
	.content_c2654d {
		background: transparent;
		font-size: var(--font-size-xsm);
		padding: 0 var(--spacing) 0 0;
	}
	& + li > .cozy_f9f2ca.groupStart_d5deea {
		margin-top: 0;
	}
	& + .wrapper_f9f2ca.cozy_f9f2ca {
		margin-top: 0;
	}
	&.isUnread_c2654d {
		border-bottom: 1px solid var(--base-border);
		.unreadPill_c2654d {
			position: unset;
			background: transparent;
			font-size: var(--font-size-xsm);
			color: rgb(var(--status-red), 1);
			padding: 0;
			svg {
				display: none;
			}
		}
		& + li > .cozy_f9f2ca {
			margin-top: calc(var(--spacing) - 12px);
		}
	}
}
