#app-mount {
	// Channel
	.typeThread_d8bfb3 .mainContent-20q_Hp {
		padding: 0;
		padding-left: var(--spacing-triple);
		&::before {
			top: 0;
			bottom: 0;
		}
	}
	.spine_e1e976 {
		z-index: 1;
		color: var(--text-muted);
	}

	// Chat
	.container_c15230 {
		margin-top: var(--spacing-half);
		border-radius: var(--border-radius);
		border: 1px solid var(--base-border);
		padding: var(--spacing);
		background: var(--background);
		.name_c15230,
		.cta_c15230,
		.timestamp_c15230 {
			font-size: var(--chat-font-size);
		}
		.username_f9f2ca {
			margin-right: var(--spacing-half);
		}
	}
	.bottomLine_c15230 {
		margin-top: var(--spacing-half);
	}

	// Rightside chat
	.resizeHandle_d1c246 {
		border-left: 1px solid var(--base-border);
		background: var(--background-dark);
	}

	.container_d1c246 {
		margin-left: 0;
		border-radius: 0;
		border-left: 1px solid var(--base-border);
		background: transparent;
		.form_a7d72e {
			padding-left: var(--spacing);
		}
		.scrollerSpacer_e2e187 {
			display: none;
		}
		.children_fc4f04 {
			width: calc(100% - 80px);
		}
	}
	.chat_fb4810::before {
		content: none;
	}
	.iconWrapper_ec583a {
		background: transparent;
		width: 32px;
		height: 32px;
		border-radius: 0;
	}
	.messagePreview_fb4810.cozy_f9f2ca .avatar_f9f2ca {
		top: 0;
	}

	.submitButton-1TPmAa {
		margin-bottom: var(--spacing);
	}
}
