@use '../assets';

#app-mount {
	.wrapper_f316dd {
		background: var(--background);
		border-radius: var(--border-radius);
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(0, 0, 0, 0.25);
			pointer-events: none;
			opacity: 0;
			transition: 250ms linear opacity;
		}
		&.wrapperPaused_f316dd::after {
			opacity: 1;
		}
		&.wrapperControlsHidden_f316dd {
			.metadata__7bef0,
			.videoControls_f316dd {
				opacity: 0;
			}
		}
		&:hover .playCenter-Fe8u3X .wrapper_ab4920 .icon_ab4920 {
			opacity: 1;
		}
	}
	.playCenter-Fe8u3X {
		.iconWrapper_ab4920 {
			opacity: 1;
		}
		.wrapper_ab4920 {
			background: transparent;
			padding: 0;
			opacity: 1;
			.icon_ab4920 {
				margin: 0;
				cursor: var(--cursor);
				width: 72px;
				height: 72px;
				background: var(--white);
				opacity: 0.65;
				margin-top: 4px;
				mask: url(assets.$icon_play) center/72px no-repeat;
				polygon {
					display: none;
				}
			}
		}
	}
	.videoControls_f316dd {
		display: grid;
		grid-template-columns: auto auto 1fr auto auto;
		z-index: 1;
		padding: var(--spacing-half) var(--spacing);
		height: 38px;
		box-sizing: border-box;
		bottom: 0;
		transform: none !important;
		transition: 150ms linear opacity;
		background: transparent;
		&::after {
			content: '';
			left: 0;
			bottom: 0;
			width: 100%;
			height: 72px;
			position: absolute;
			z-index: -1;
			background: linear-gradient(0deg, rgb(0, 0, 0, 0.75), transparent);
		}
		.horizontal_f7877e {
			top: calc(var(--spacing-half) * -1);
			position: absolute;
			left: var(--spacing);
			width: calc(100% - var(--spacing-double));
			display: block;
			.mediaBarInteraction_f7877e,
			.mediaBarInteractionDragging_f7877e {
				margin: 0;
				display: flex;
				align-items: center;
				&:hover,
				&:active {
					.buffer_f7877e,
					.mediaBarPreview_f7877e,
					.mediaBarProgress_f7877e {
						height: 5px !important;
					}
				}
				.mediaBarWrapper_f7877e {
					background: transparent;
					height: 10px;
					border-radius: 0;
					box-shadow: none;
					.mediaBarProgress_f7877e {
						background: var(--accent-solid);
					}
					.buffer_f7877e,
					.mediaBarPreview_f7877e,
					.mediaBarProgress_f7877e {
						height: 3px;
						top: 50%;
						transition: 150ms ease height;
						transform: translateY(-50%);
					}
					.buffer_f7877e,
					.buffer_f7877e::after,
					.buffer_f7877e::before {
						background: var(--white);
						opacity: 0.3;
					}
				}
			}
			.mediaBarGrabber_f7877e {
				background: var(--accent-solid);
				transition: none;
			}
			.fakeEdges_f7877e::after,
			.fakeEdges_f7877e::before {
				content: none;
			}
		}
		.flex_ec1a20 {
			justify-content: space-between;
		}
		> div:last-child {
			.controlIcon_f316dd {
				margin: 0;
			}
		}
	}
	.volumeButton-2XwKVs {
		margin-left: var(--spacing);
	}
	.controlIcon_f316dd {
		margin: 0;
		height: 20px;
		width: 20px;
		color: var(--white);
		opacity: 0.65;
		cursor: var(--cursor);
		transform: none;
		&:not(:last-child) {
			margin-right: var(--spacing);
		}
		&:hover {
			color: var(--text-link);
			opacity: 1;
		}
	}
	.durationTimeWrapper_f316dd {
		margin: 0;
		.durationTimeDisplay_f316dd,
		.durationTimeSeparator_f316dd {
			font-weight: var(--font-weight);
			font-size: var(--font-size-sm);
			color: var(--white);
			font-family: var(--font-family-sans-serif);
			margin: 0;
			user-select: text;
			&.durationTimeSeparator_f316dd {
				margin: 0 var(--spacing-third);
			}
		}
	}
	.metadata__7bef0 {
		padding: var(--spacing);
		top: 0;
		z-index: 10;
		height: 72px;
		transform: none !important;
		transition: 150ms ease opacity;
		background: linear-gradient(0deg, transparent, rgb(0, 0, 0, 0.75));
		.metadataName__87840 {
			color: var(--white);
			font-weight: var(--font-weight-normal);
			font-size: var(--font-size);
			line-height: normal;
		}
		.metadataSize_f316dd {
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
			color: var(--white);
			opacity: 0.65;
		}
		.metadataDownload_f316dd {
			padding: 0;
			opacity: 1;
			border: none;
			background: var(--white);
			height: 18px;
			width: 18px;
			opacity: 0.75;
			mask: url(assets.$icon_download) center/18px no-repeat;
			.metadataIcon_f316dd {
				display: none;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.metadataContent_f316dd {
		padding: 0;
	}
}
